.dot-container {
  --dot: #CCC;

  background-image: radial-gradient(var(--dot) 2px, transparent 2px);
  background-size: 30px 30px;
}

.dark {
  .dot-container {
    --dot: #666;
  }
}

.dot-mask {
  --dot-mask: #FFF;
  background-image: radial-gradient(transparent 2px, var(--dot-mask) 2px);
  background-size: 30px 30px;
}

.dark .dot-mask {
  --dot-mask: #000;
}
